<ion-header [translucent]="true" class="generic-header">
  <ion-toolbar>
    <ion-title>
      Arena
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Arena</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-list>
  <ion-item>
    <ion-select aria-label="Creature" interface="popover" placeholder="Select creature" (ionChange)="chooseCreature($event)">
      <ion-select-option *ngFor="let cr of creatures" [value]=cr>{{cr.name}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
<ion-button *ngIf="!battleService.isQueueing" id="search-button" expand="block" class="generic-but" (click)="queue()">Search for a match</ion-button>

<div *ngIf="battleService.isQueueing" class="queueing">
  <ion-button id="queueing-button" expand="block" class="generic-but" aria-disabled="true">Looking for a match</ion-button>
  <ion-spinner name="dots" id="queue-spinner"></ion-spinner>
</div>

</ion-content>
