.main-container
{
    margin: 7px;
    margin-top: 27px;
    border-radius: 5px;
}

.creatureImg
{
    max-height: 250px;
    margin-right: 25px;
    margin-left: 25px;
}

.image-row
{
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.img-col
{
    display: flex;
    align-items: center;
    justify-content: right;

}

.skill-icon
{
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.attr-icon-col
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.attributes-col
{
    display: flex;
    justify-content: left;
}

.attr-row
{
    line-height: 30px;
}

.attr-icon
{
    min-width: 30px;
    max-width: 50px;
}

.attr-name
{
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attr-number
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.attributes-card
{
    margin-bottom: auto;
    background-image: linear-gradient(to bottom right, rgb(90, 150, 179), rgb(123, 124, 123));
    border-style: solid;
    border-color: black;
    border-width: 2px;
    color: black;
    min-width: 250px;
}

.skills-card
{
    background-color: rgba(255, 255, 255, 0.3);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

.card-container
{
    margin: 0px;
    padding: 0;
}

.cards-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buts
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-container
{
    margin-top: 10px;
    display: flex;
}

.stats-col
{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;

}

.stats-filler
{
    margin-left: 3px;
    margin-right: 3px;
}

.stats-card
{
    margin-bottom: auto;
    background-image: linear-gradient(to bottom right, rgb(90, 150, 179), rgb(123, 124, 123));
    border-style: solid;
    border-color: black;
    border-width: 2px;
    color: black;
    min-width: 250px;
    max-width: 600px;
}

.lvl-row
{
    align-items: center;
    font-size: 18px;
}

.progress-outer
{
    max-width: 400px;
    margin: auto;
    text-align: center;
    background-color: rgba(88, 245, 179, 0.3);
    border: 1px solid #000000;
    color: #000000;
    border-radius: 20px;
  }

.progress-inner
{
    white-space: nowrap;
    overflow: hidden;
    padding: 0px;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(56, 199, 139), rgb(13, 114, 75));
}

ion-content
{
    --background: url(/assets/bg.png) center/cover fixed;
}