.profileIcon
{
    width: 25px;
    height: 25px;
}

#profilePic
{
    padding-top: 10px;
    width: 120px;
    height: 120px;
    margin: auto;
}

#username
{
    text-align: center;
}

.profileBut
{
    margin: auto;
    width: 100px;
}

.profile-card
{
    background-color: rgba(78, 119, 146, 0.85);
    color: black;
}

ion-content
{
    --background: url(/assets/bg.png) center/cover fixed;
}