<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-img src="assets/asd" alt="Profile Picture"></ion-img>

    <ion-card-title>
      <h2>{{ username }}</h2>
    </ion-card-title>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label>{{ email }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="location-outline"></ion-icon>
          <ion-label>asd</ion-label>
        </ion-item>
      </ion-list>

      <p>asd</p>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" (click)="signOut()">Sign Out</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>

  </ion-card>

</ion-content>