.profileIcon
{
    width: 25px;
    height: 25px;
}

#profilePic
{
    width: 100px;
    height: 100px;
    margin: auto;
}

#username
{
    text-align: center;
}

.profileBut
{
    margin: auto;
    width: 100px;
}