<ion-header [translucent]="true" class="generic-header">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loadingDone">

  <ion-card class="profile-card">

    <ion-img id="profilePic" src="assets/icons/placeholder.png" alt="Profile Picture"></ion-img>

    <ion-card-title id="username">
      <h2>{{ username }}</h2>
    </ion-card-title>

    <ion-card-content>
  
      <ion-row>
          <ion-img class="profileIcon" src="assets/icons/placeholder.png"></ion-img>
          <ion-label style="margin-left: 5px;">{{ email }}</ion-label>
        </ion-row>

      <ion-row>
        <ion-col>
          <ion-button class="profileBut generic-but" expand="block" (click)="signOut()">Sign Out</ion-button>
        </ion-col>
      </ion-row>
      
    </ion-card-content>

  </ion-card>

</ion-content>