$cardwidth: 160px;

.skill-card
{
    height: 220px;
    width: $cardwidth;
    color: black;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
}

img
{
    height: $cardwidth * 0.4;
    padding: 0;
    margin: 0;
    width: 100%;
}

ion-card-header
{
    height: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: 1px;
    margin-right: 1px;
}

ion-card-title
{
    font-size: 20px;
    margin: 0;
    color: rgb(0, 0, 0);
}

ion-card-subtitle
{
    font-size: 13px;
    margin: 0;
    color: rgb(0, 0, 0);
}

p
{
    padding-top: $cardwidth * 0.015;
    padding-bottom: $cardwidth * 0.015;
    white-space: pre-wrap;
    margin: 0;
    font-size: 17;
}

ion-card-content
{
    padding: 4px;
    padding-bottom: 0;
    padding-top: 0;
    height: 130px;
    color: rgb(11, 60, 100);
    margin: 4px;
    margin-top: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    font-size: 2vb;
}