$cardheight: 160px;
$cardwidth: 112px;

ion-card
{
    height: $cardheight;
    width: $cardwidth;
    color: black;
    border-radius: 3%;
}

img
{
    box-sizing: border-box; 
    height: $cardheight * 0.25;
    width: 100%;
}

ion-card-header
{
    box-sizing: border-box; 

    height: $cardheight * 0.175;
    align-items: center;
    justify-content: center;
    margin-bottom: $cardheight * 0.015;
}

p
{
    box-sizing: border-box;     
    height: $cardheight * 0.525;
    padding: $cardheight * 0.01;
    margin: 0;
    font-size: calc(1.83vb);
}

ion-card-content
{
    box-sizing: border-box; 
    height: $cardheight * 0.525;
    color: rgb(11, 60, 100);
    margin: $cardheight * 0.02;
    margin-top: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3%;
    font-size: 2vb;
}

ion-card-title
{
    box-sizing: border-box; 
    font-size: 15px;
    margin: 0;
    color: rgb(0, 0, 0);
}

ion-card-subtitle
{
    box-sizing: border-box; 
    font-size: 10px;
    margin: 0;
    color: rgb(0, 0, 0);
}