$cardwidth: 160px;

ion-card
{
    height: 220px;
    width: $cardwidth;
    color: black;
    user-select: none;
    border-radius: 6px;
}

.skill-card
{
    border: 3px solid black;
    background-color: rgb(131, 167, 182);
}

.skill-card-highlighted
{
    border: 3px solid yellow;
    cursor: pointer;
}

.thumbnail
{
    height: $cardwidth * 0.4;
    padding: 0;
    margin: 0;
    width: 100%;
    border-bottom: 3px solid rgb(0, 0, 0);
}

.fat-cost-container
{

    height: $cardwidth * 0.2;
    width: $cardwidth * 0.2;
    position: fixed;
    top: 0;
    right: 0;
    margin: 3px;
    text-align: center;
}

.fat-cost
{
    font-family: 'Mouse';
    font-size: $cardwidth * 0.12;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ion-card-header
{
    height: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: 1px;
    margin-right: 1px;
}

ion-card-title
{
    font-family: 'Mouse';
    font-size: 20px;
    margin: 0;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(82, 82, 82);
}

ion-card-subtitle
{
    font-family: 'Mouse';
    font-size: 13px;
    margin: 0;
    color: rgb(0, 0, 0);
}

p
{
    padding-top: $cardwidth * 0.015;
    padding-bottom: $cardwidth * 0.015;
    white-space: pre-wrap;
    margin: 0;
    font-size: 18px;
}

ion-card-content
{
    font-family: 'Mouse';
    padding: 4px;
    padding-bottom: 0;
    padding-top: 0;
    height: 130px;
    color: rgb(0, 0, 0);
    margin: 4px;
    margin-top: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    font-size: 2vb;
}