<ion-card class="skill-card" [style.background-color]='bgColor'>
  <img src="{{'assets/skills/thumbnails/' + skill.type + '.png'}}" class="thumbnail"/>
  <div class="fat-cost-container">
    <img src="assets/icons/fatigue_cost.png" class="fat-icon"/>
    <p class="fat-cost">{{skill.fatCost}}</p>
  </div>

  <ion-card-header>
    <ion-card-title>{{skill.name}}</ion-card-title>
    <ion-card-subtitle>{{skill.type}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <p>{{skill.description}}</p>
  </ion-card-content>
</ion-card>