<ion-header>
  <ion-toolbar>
    <ion-title>Pick an activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="act-container" *ngFor="let act of acts" size="auto">
      <img src="{{'assets/activities/' + act.name + '.png'}}" class="act-img" (click)="actClicked($event, act)"/>
      <div class="act-title">{{ act.name }}</div>
    </ion-row>
  </ion-grid>

  <div class="but-container">
    <ion-button [disabled]="confirmEnabled ? 'false' : 'true'" (click)="confirmAct()" class="confirm-but generic-but">Confirm</ion-button>
  </div>

</ion-content>