<ion-header [translucent]="true" class="generic-header">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="logo-container">
    <img src="assets/logo.svg" id="logo"/>
    <div id="sub-logo">(A working title)</div>
  </div>

  <form [formGroup]="form" *ngIf="loadingDone">

    <ion-item lines="full" class="login-input">
      <ion-label position="stacked" class="login-label">Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>
    <ion-item lines="full" class="login-input">
      <ion-label position="stacked" class="login-label">Password</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button id="loginBut" type="submit" class="generic-but" expand="block" (click)="tryLogIn()">Log In</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button id="signUpBut" class="generic-but" expand="block" [routerLink]="['/registration']">Sign up</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>