

#sign-up-but
{
    margin: auto;
    margin-top: 10px;
    width: 100px;
}

#go-back-but
{
    margin: auto;
    width: 100px;
}

.reg-input
{
    margin: auto;
    margin-top: 5px;
    max-width: 500px;
    --ion-background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    border: 1px solid black;
}

.reg-label
{
    font-family: 'Mouse';
    font-size: 25px;
}

.invalid-input
{
    color: rgb(223, 0, 0);
    border: 1px solid rgb(223, 0, 0);
}

ion-content
{
    --ion-background-color: rgba(255, 255, 255, 0.10);
}