.creature-img
{
    max-width: 100px;
    margin: auto;
}

.skill-icon
{
    width: 50px;
    height: 50px;
    padding: 5px;
}

.opp-skills
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-card
{
    width: 50px!important;
    height: 50px;
    padding: 5px;
    cursor: pointer;
}

.creatureCard
{
    display: block;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.3);
}

.cards-container
{
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
}

.card-container
{
    margin: 0px;
    padding: 0;
    cursor: pointer;
}

.card-container[disabled = true]
{
    cursor: default;
}

.crName
{
    margin: auto;
}

.progress-outer {
    width: 96%;
    margin: 10px 2%;
    padding: 3px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 20px;
  }

.progress-inner {
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    border-radius: 20px;
    background-color: red;
}

ion-content {
    --background: url(/assets/bg2.png) no-repeat center/cover fixed;
}