<img class="overlay" src="{{'assets/borderleaves.png'}}"/>
<img class="background" src="{{'assets/bg2.png'}}"/>

<ion-content [fullscreen]="true" *ngIf="loadingDone" class="battle-content">

  <ion-header collapse="condense">
    <ion-toolbar> 
      <ion-title size="large">battle</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="creature-card">
    <ion-card-content class="creature-card-content">
      <ion-grid>

        <ion-row>
          <ion-card-title class="crName">{{opCr.name}}</ion-card-title>
        </ion-row>

        <ion-row class="stats">
          <ion-col size="2.8" class="shield-container">
            <div class="shield-content">
              <img class="blocks-icon" src="{{'assets/icons/total_blocks.png'}}"/>
              <p class="total-blocks-text">{{opBlock}}</p>
            </div>
          </ion-col>
          <ion-col class="bars" size="6.5">
            <app-progressbar type="hp" [current]="opCr.HP" [total]="opCr.con" style="height: 40px;"></app-progressbar>
            <app-progressbar type="fat" [current]="opCr.fatigue" [total]="opCr.stamina" style="height: 40px;"></app-progressbar>
          </ion-col>
        </ion-row>

        <ion-row class="middle-row">
          <ion-card *ngIf="opCr.traits" class="traits-card">
            <ion-card-content class="traits-card-content">
              <ion-row class="traits-container">
                <ion-col *ngFor="let trait of opCr.traits" size="auto" class="trait-container">
                  <img class="trait-icon" src="{{'assets/icons/attributes/placeholder.png'}}" (click)="traitClicked($event, trait)"/>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="opCr.statuses.length > 0" class="statuses-card">
            <ion-card-content class="statuses-card-content">
              <ion-row class="statuses-container">
                <ion-col *ngFor="let status of opCr.statuses" size="auto" class="status-container">
                  <img class="status-icon" src="{{'assets/icons/attributes/placeholder.png'}}" (click)="statusClicked($event, status)"/>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
          <ion-img class="creature-img" src="{{'assets/creature_imgs/' + opCr.type + '.png'}}"></ion-img>
        </ion-row>

        <ion-row>
          <ion-col class="opp-skills" size="auto">
            <img *ngFor="let i of dummyArr(opSkillsLength)" class="skill-icon" src="{{'assets/skills/unknown.png'}}"/>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="creature-card">
    <ion-card-content class="creature-card-content">
      <ion-grid>

        <ion-row>
          <ion-card-title class="crName">{{myCr.name}}</ion-card-title>
        </ion-row>

        <ion-row class="stats">
          <ion-col size="2.8" class="shield-container">
            <div class="shield-content">
              <img class="blocks-icon" src="{{'assets/icons/total_blocks.png'}}"/>
              <p class="total-blocks-text">{{myBlock}}</p>
            </div>
          </ion-col>

          <ion-col class="bars" size="6.5">
            <app-progressbar type="hp" [current]="myCr.HP" [total]="myCr.con" style="height: 40px;"></app-progressbar>
            <app-progressbar type="fat" [current]="myCr.fatigue" [total]="myCr.stamina" style="height: 40px;"></app-progressbar>
          </ion-col>
        </ion-row>

        <ion-row class="middle-row">
            <ion-card class="turn-indicator-card">
              <ion-card-content>
                {{turnInfo}}
              </ion-card-content>
            </ion-card>
            <ion-card *ngIf="myCr.traits" class="traits-card">
              <ion-card-content class="traits-card-content">
                <ion-row class="traits-container">
                  <ion-col *ngFor="let trait of myCr.traits" size="auto" class="trait-container">
                    <img class="trait-icon" src="{{'assets/icons/attributes/placeholder.png'}}" (click)="traitClicked($event, trait)"/>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
            <ion-card *ngIf="myCr.statuses.length > 0" class="statuses-card">
              <ion-card-content class="statuses-card-content">
                <ion-row class="statuses-container">
                  <ion-col *ngFor="let status of myCr.statuses" size="auto" class="status-container">
                    <img class="status-icon" src="{{'assets/icons/attributes/placeholder.png'}}" (click)="statusClicked($event, status)"/>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
            <ion-img class="creature-img" src="{{'assets/creature_imgs/' + myCr.type + '.png'}}"></ion-img>
          </ion-row>

      <ion-grid>
          <ion-row class="cards-container">
            <ion-col *ngFor="let skill of myCr.skills" size="auto" class="card-container" [attr.disabled]="(canPick && !animating) ? false : true" (click)="useSkill(myCr.skills.indexOf(skill))">
              <app-skillcard [skill]="skill"></app-skillcard>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-modal class="enemy-skill" [isOpen]="showRevealedSkill" (willDismiss)="showRevealedSkill = false">
    <ng-template>
      <ion-content>
        <ion-row class="revealed-skill-content">
          <p>Opponent picked:</p>
        </ion-row>
        <ion-row class="revealed-skill-content">
          <app-skillcard [skill]="skillToDisplay"></app-skillcard>
        </ion-row>
        <ion-row class="revealed-skill-content">
          <ion-button (click)="closeSkill()">OK</ion-button>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [ngClass]="skillToDisplay.usedByID === myCr.crID ? 'my-skill' : 'enemy-skill'" [isOpen]="showPlayedSkill">
    <ng-template>
      <ion-content>
        <ion-row class="revealed-skill-content">
          <p>{{who}} {{what}}:</p>
        </ion-row>
        <ion-row class="revealed-skill-content">
          <app-skillcard [skill]="skillToDisplay"></app-skillcard>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-popover #popover [isOpen]="traitShowing" (didDismiss)="traitShowing = false" class="trait-popover">
    <ng-template>
      <ion-content>
        <div class="trait-title">
          {{traitToShow.name}}
        </div>
        <div class="trait-description">
          {{traitToShow.description}}
        </div>
      </ion-content>
    </ng-template>
  </ion-popover>

</ion-content>