.but-container
{
    display: flex;
    flex-direction: column;
}

.confirm-but
{
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.skip-but
{
    position: absolute;
    align-self: flex-end;
    bottom: 0;
    margin: 15px;
}

.later-but
{
    position: absolute;
    align-self: flex-start;
    bottom: 0;
    margin: 15px;
}

.cards-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container
{
    padding: 0;
    margin: 0px;
}

ion-button
{
    font-size: 20px;
    color: black;
    border-radius: 5px;
    margin: 10px;
    --background: #79b4b6;
    font-family: 'Mouse';
}

ion-title
{
    font-family: 'Mouse';
}