.but-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-but
{

}

.cards-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}