/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/PermanentMarker-Regular.ttf')
}

@font-face {
    font-family: 'Alba';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/ALBA.ttf')
}

@font-face {
    font-family: 'AlbaS';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/ALBAS.ttf')
}

@font-face {
    font-family: 'Kerosene';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/kerosene.ttf')
}

@font-face {
    font-family: 'Mouse';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/MouseMemoirs.ttf')
}
.skill-pop-up
{
    --background: rgb(102, 115, 133);
}

.alert-message 
{
    color: black!important;
}

.skills-window
{
    &::part(content)
    {
        width: 1000px;
    }
}

.my-skill
{
    justify-content: flex-end;
    margin-right: 15%;
    margin-bottom: -20%;

    ion-content::part(background)
    {
        background-color:rgba(0, 0, 0, 0)
    }

    &::part(content)
    {
        background-color:rgba(#79b4b6, 1);
        border-radius: 10px;
        width: 300px;
        height: 350px;
        border: 1px solid black;

    }
    
    --backdrop-opacity: 0;
}

.enemy-skill
{
    justify-content: flex-start;
    margin-left: 15%;
    margin-top: -20%;

    ion-content::part(background)
    {
        background-color:rgba(0, 0, 0, 0)
    }

    &::part(content)
    {
        background-color:rgba(#79b4b6, 1);
        border-radius: 10px;
        width: 300px;
        height: 350px;
        border: 1px solid black;

    }
    
    --backdrop-opacity: 0;
}

.hit-popup
{
    justify-content: flex-end;
    margin-right: 30px;

    ion-content::part(background)
    {
        background-color:rgba(0, 0, 0, 0)
    }

    &::part(content)
    {
        background-color:rgba(#79b4b6, 1);
        border: 1px solid black;
    }

    --backdrop-opacity: 0;
}

.act-modal
{
    &::part(content)
    {
        border: 1px solid black;
        border-radius: 10px;
    }
}

.trait-popover
{
    --backdrop-opacity: 0;

    &::part(content)
    {
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        background-color: #79b4b6;

        padding-top: 5px;


    }

    .trait-title
    {
        font-family: 'AlbaS';
        font-size: 22px;
        text-align: center;
        margin-bottom: 10px;
    }

    .trait-description
    {
        font-size: 15px;
    }
    
    ion-content::part(background)
    {
        background-color: #79b4b6;
    }
}

.notification
{
    .alert-head
    {
        text-align: center;
        font-family: 'Mouse';

        .alert-title
        {
            font-size: 25px;
        }
    }

    .alert-button
    {
        color: black;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 50px;
    }
}

.gameover
{
    .alert-head
    {
        text-align: center;
        font-family: 'Mouse';

        .alert-title
        {
            font-size: 25px;
        }
    }

    .alert-button
    {
        font-family: 'Mouse';
        color: black;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 50px;
    }
}