/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/PermanentMarker-Regular.ttf')
}

@font-face {
    font-family: 'Alba';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Alba.ttf')
}

@font-face {
    font-family: 'AlbaS';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Albas.ttf')
}

@font-face {
    font-family: 'Mouse';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/MouseMemoirs.ttf')
}

.skill-pop-up
{
    --background: rgb(102, 115, 133);
}

.alert-message 
{
    color: black!important;
}

.skills-window
{
    ion-title
    {
        font-family: 'Mouse';
        font-size: 25px;
    }

    .button-clear
    {
        font-family: 'Mouse';
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    &::part(content)
    {
        width: 1000px;
    }
}

.guide-window
{
    ion-title
    {
        font-size: 25px;
        height: 50px;
        font-family: 'Mouse';
    }

    .guide-content
    {
        font-size: 20px;
        font-family: 'Mouse';
        background: rgba(255, 255, 255, 0.1);
        padding: 10px;

        li
        {
            color: rgb(12, 45, 95);
            font-size: 23px;
        }

        p
        {
            margin: 2px;
        }
    }

    .button-clear
    {
        font-family: 'Mouse';
        font-size: 20px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    &::part(content)
    {
        width: 1000px;
    }
}

.my-skill
{
    justify-content: flex-end;
    margin-right: 15%;
    margin-bottom: -20%;

    ion-content::part(background)
    {
        background-color:rgba(0, 0, 0, 0)
    }

    &::part(content)
    {
        background-color:rgba(#79b4b6, 1);
        border-radius: 10px;
        width: 300px;
        height: 350px;
        border: 1px solid black;

    }
    
    --backdrop-opacity: 0;
}

.enemy-skill
{
    justify-content: flex-start;
    margin-left: 15%;
    margin-top: -20%;

    ion-content::part(background)
    {
        background-color:rgba(0, 0, 0, 0)
    }

    &::part(content)
    {
        background-color:rgba(#79b4b6, 1);
        border-radius: 10px;
        width: 300px;
        height: 350px;
        border: 1px solid black;

    }
    
    --backdrop-opacity: 0;
}

.my-popup
{
    justify-content: flex-end;
    margin-right: 15%;
    margin-bottom: -20%;

    ion-content::part(background)
    {
        background-color:rgba(0, 0, 0, 0)
    }

    &::part(content)
    {
        background-color:rgba(#79b4b6, 1);
        border: 1px solid black;
    }

    --backdrop-opacity: 0;
}

.opp-popup
{
    justify-content: flex-start;
    margin-left: 15%;
    margin-top: -20%;

    ion-content::part(background)
    {
        background-color:rgba(0, 0, 0, 0)
    }

    &::part(content)
    {
        background-color:rgba(#79b4b6, 1);
        border: 1px solid black;
    }

    --backdrop-opacity: 0;
}

.act-modal
{
    &::part(content)
    {
        border: 1px solid black;
        border-radius: 10px;
    }
}

.trait-popover
{
    --backdrop-opacity: 0;

    &::part(content)
    {
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        background-color: #79b4b6;

        padding-top: 5px;


    }

    .trait-title
    {
        font-family: 'AlbaS';
        font-size: 22px;
        text-align: center;
        margin-bottom: 10px;
    }

    .trait-description
    {
        font-size: 15px;
    }
    
    ion-content::part(background)
    {
        background-color: #79b4b6;
    }
}

.notification
{
    .alert-head
    {
        text-align: center;
        font-family: 'Mouse';

        .alert-title
        {
            font-size: 25px;
        }
    }

    .alert-button
    {
        color: black;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 50px;
    }
}

.gameover
{
    .alert-head
    {
        text-align: center;
        font-family: 'Mouse';

        .alert-title
        {
            font-size: 25px;
        }
    }

    .alert-button
    {
        font-family: 'Mouse';
        color: black;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 50px;
    }
}

.generic-but
{
    font-size: 20px;
    font-family: 'Mouse';
    color: black;
    border-radius: 5px;
    margin: 10px;
    --background: #79b4b6;
}

.generic-header
{
    border: 1px solid black;

    ion-title
    {
        font-family: 'Mouse';
        font-size: 30px;
    }
}

.fail-toast
{
    color: black;
    --background:rgba(255, 0, 0, 0.2);
    font-family: 'Mouse';
    font-size: 20px;
    text-align: center;
    max-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}